body {
    font-family: arial;
    font-size: 20px;
}
.calculator {
    margin-left: 40%;
    margin-top: 100px;
}
.button {
    padding: 5px 10px 5px 10px;
    margin: 3px;
}
.right-column {
    position: relative;
    display: inline-block;
    margin-left: 130px;
    bottom: 105px;
}
.top-row {
    width: 128px;
}
.middle-row {
    width: 128px;
}
.bottom-row {
    width: 128px;
}
.zero {
    padding: 5px 32px 5px 31px;
    bottom: 140px;
    position:relative;
}
.total {
    padding: 5px 9px 5px 10px;
    bottom: 140px;
    position:relative;
}
.plus {
    padding: 5px 9px 5px 10px;
}
.minus {
    padding: 5px 11px 5px 12px;
}
.multiply {
    padding: 5px 11px 5px 11px;
}
.divide {
    padding: 5px 11px 5px 12px;
}
.clear {
    padding: 5px 73px 5px 74px;
    bottom: 140px;
    position:relative;
}
.calculations {
    bottom: 140px;
    position:relative;
}